# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v3.2.0
        hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
        -   id: check-toml
        -   id: check-added-large-files
        -   id: check-docstring-first

    -   repo: https://github.com/pycqa/isort
        rev: 5.10.0
        hooks:
          - id: isort
            name: isort (python)
            args: ["--profile", "black"]

    -   repo: https://github.com/psf/black
        rev: 22.3.0
        hooks:
          - id: black

    -   repo: https://github.com/pycqa/flake8
        rev: 4.0.1
        hooks:
          - id: flake8

    -   repo: https://github.com/econchick/interrogate
        rev: 1.5.0
        hooks:
          - id: interrogate
            args: ["-c", "pyproject.toml"]
            pass_filenames: true
